<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <link rel="apple-touch-icon" sizes="180x180" href="./assets/apple-icon-180x180.png">
  <link href="./assets/favicon.ico" rel="icon">

  <title>MercyIsaac_Portfolio</title>

<link href="./static/main.d8e0d294.css" rel="stylesheet"></head>

<body class="">

<!-- Add your content of header -->
<div class="background-color-layer" style="background-image: url('static/assets/images/IMG_20180805_132546.jpg');"></div>
<main class="content-wrapper">
  <header class="white-text-container section-container">
    <div class="text-center">
      <h1>I am Isaac Mercy</h1>
      <p>Data Scientist and Machine learning Engineer</p>
      <p>
        <a class="fa-icon fa-icon-2x" href="https://www.facebook.com/mercy.isaac.927/" title="">
          <i class="fa fa-facebook"></i>
        </a>
        <a class="fa-icon fa-icon-2x" href="https://twitter.com/Isaac3571/" title="">
          <i class="fa fa-twitter"></i>
        </a>
        <a class="fa-icon fa-icon-2x" href="https://www.linkedin.com/in/mercy-isaac-80953b188/" title="">
          <i class="fa fa-linkedin"></i>
        </a>
      </p>
    </div>
  </header>

<!-- Add your site or app content here -->

 <div class="container">
   <div class="row">
     <div class="col-xs-12">

        <div class="card">
          <div class="card-block">
            <h2>About me</h2>
            <div class="row">
              <div class="col-md-4">
                <p><img src="./static/assets/images/IMG_20180805_132546.jpg" class="img-responsive" alt=""></p>
              </div>
              <div class="col-md-8">

              <p>I am a python programmer with interests in Data Science and machine learning. I can work with mySQL, pandas, numpy, TensorFlow, Pytorch, matplotlib.</p>
              <p> A graduate of chemical engineering with passion for engineering, data analyses and writing. I'm knowledgeable on the use of autocad and chemical simulation softwares(Unisum, DWsim</p>

              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h2>Projects</h2>
            <div class="row">
              <a href=https://github.com/Mercy435/AI-Application-Udacity-Nanodegree-Image-Classifier-Project- target="_blank">
                <div class="col-md-4">
                <img src="./static/assets/images/flowers2.jpg" class="img-responsive" alt="">
                <h3 class="h5">AI application- Nanodegree Project, Udacity</h3>

                <p>NumPy,Matplotlib, PyTorch, Json, PIL, Seaborn</p>
              </div>
              </a>
              <a href= https://github.com/Mercy435/Project--Heart_disease-classifier target="_blank">
                <div class="col-md-4">
                <img src="./static/assets/images/heart.jpg" class="img-responsive" alt="">
                <h3 class= "h5">Heart Disease Classifier</h3>

                <p>NumPy, Pandas, Matplotlib, Seaborn, Sklearn</p>
              </div>
              </a>
              <a href= https://github.com/Mercy435/Project-Dog-breed-classifier target="_blank">
                <div class="col-md-4">
                <img src="./static/assets/images/dog.jpg" class="img-responsive" alt="">
                <h3 class="h5">Dog Breed Classifier</h3>

                <p>NumPy, Pandas, Matplotlib, Seaborn, IPython, OS, TensorFlow</p>
              </div>
              </a>

            </div>
            <div class="row">
              <a href=  https://github.com/Mercy435/project-web-scrapping target="_blank">
                <div class="col-md-4">
                <img src="./static/assets/images/web_scrapper.jpg" class="img-responsive" alt="">
                <h3 class= "h5">Web Scrapping Project</h3>

                <p>Requests, BeautifulSoup, Pprint, Json, Pandas</p>
              </div>
              </a>
              <a href=  https://github.com/Mercy435/Project-Pasword-Checker target="_blank">
                <div class="col-md-4">
                <img src="./static/assets/images/password.jpg" class="img-responsive" alt="">
                <h3 class="h5">Password Checker</h3>

                <p>Request, Hashlib, Sys</p>
              </div>
              </a>
              <a href=https://github.com/Mercy435/Pre-trained-image-classifier-Udacity target="_blank">
                <div class="col-md-4">
                <img src="./static/assets/images/cat.jpg" class="img-responsive" alt="">
                <h3 class="h5">Pre-trained Image Classifier, Nanodegree project, Udacity</h3>

                <p>Python Inbuilt modules</p>
              </div>
              </a>

            </div>
            <div class="row">
              <a href=  https://github.com/Mercy435/Portfo  target="_blank">
                <div class="col-md-4">
                <img src="./static/assets/images/portfo.JPG" class="img-responsive" alt="">
                <h3 class= "h5">Portfolio website</h3>

                <p>Flask</p>
              </div>
              </a>
              <a href=https://github.com/Mercy435/Project-Bulldozer_price_prediction target="_blank">
                <div class="col-md-4">
                <img src="./static/assets/images/bulldozer.jpg" class="img-responsive" alt="">
                <h3 class="h5">Bulldozer Price Prediction</h3>

                <p>NumPy, Pandas, Matplotlib, Seaborn, Sklearn</p>
              </div>
              </a>

            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h2>Work</h2>
            <div class="work-experience">
              <small class="date">Jan 2021–Present</small>
              <h3 class="h5 date-title">Python Programmer/ Data Scientist/ Machine learning Intern- <a href="https://alabiansolutions.com/" title="programming solutions">Alabian Solutions</a></h3>


              <p>Working on Python, Data Science and Machine learning Projects</p>
            </div>

            <div class="work-experience">
              <small class="date">Feb 2020–Mar 2020</small>
              <h3 class="h5 date-title">Data Science Intern - <a href="https://labs.covenworks.com/workshop/data-science-ai-benin/" title="Data Science and AI">Coven Labs, Benin, Edo</a></h3>

              <p>Created data visualization graphics translating complex datasets sets into comprehensive visual representations using python and power BI.</p>
              <p>Worked with a team on the topic, ‘Effect of gas flaring in Edo State’, presented data science findings to peers, illustrating progress made during the project period, and proffered solutions based on the data.</p>
            </div>

            <div class="work-experience">
              <small class="date">June 2018–Dec 2018</small>
              <h3 class="h5 date-title">Process Engineering Intern - <a href="https://www.shell.com.ng/" title="">SPDC Portharcourt, Rivers</a></h3>

              <p> worked with process engineers on various design projects for flowstations.</p>
              <p>Worked with a team of engineers on a personal project to design a flowstation that would yield oil at a rate of 30000bpd. </p>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h2>Education</h2>
            <div class="row">
              <div class="col-md-4">
                <div class="education-experience">
                  <small class="date">2021-Present</small>
                  <h3 class="h5 date-title">AI programming with Python/ AWS Nanodegree foundations Course</h3>
                  <p>Nano degree- Udacity</p>
                </div>

              </div>
              <div class="col-md-4">
                <div class="education-experience">
                  <small class="date">2021-Present</small>
                  <h3 class="h5 date-title">Data Scientist/Machine Learning Engineer</h3>
                  <p>Zero-to-mastery Academy,Udemy</p>
                </div>

              </div>
              <div class="col-md-4">
                <div class="education-experience">
                  <small class="date">2014-2020</small>
                  <h3 class="h5 date-title">Chemical Engineering (BENG)</h3>
                  <p>University of Benin</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h2>Language</h2>
            <div class="row">
              <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">English  <small>Fluent</small></h3>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h2>Social Network</h2>
            <div class="row">
              <div class="col-md-3">
                <p class="social-buttons"><a href="https://twitter.com/Isaac3571" title=""><span class="social-round-icon fa-icon"><i class="fa fa-twitter"></i></span>@Isaac3571</a></p>
              </div>
              <div class="col-md-3">
                <p class="social-buttons"><a href="https://www.linkedin.com/in/mercy-isaac-80953b188/" title=""><span class="social-round-icon fa-icon"><i class="fa fa-linkedin"></i></span>Mercy Isaac</a></p>
              </div>
              <div class="col-md-3">
                <p class="social-buttons"><a href="https://www.facebook.com/mercy.isaac.927" title=""><span class="social-round-icon fa-icon"><i class="fa fa-facebook"></i></span>Mercy Isaac</a></p>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h2>Contact</h2>
            <form action="submit_form" method="post" class="reveal-content">
              <div class="form-group">
                <input name="email" type="email" class="form-control" id="email" placeholder="Email">
              </div>
              <div class="form-group">
                <input name="subject" type="text" class="form-control" id="subject" placeholder="Subject">
              </div>
              <div class="form-group">
                <textarea name="message" class="form-control" rows="5" placeholder="Enter your message"></textarea>
              </div>
              <div class="form-group">
                <button type="submit" class=" btn btn-primary">Send message</button>
              </div>
            </form>
          </div>
        </div>

     </div>
   </div>
 </div>

<footer class="footer-container white-text-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p><img src="./static/assets/images/mashup-icon.svg" alt=""></p>

        <p>©All right reserved. Design <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://unsplash.com/" title="Beautiful Free Images">Unsplash</a></p>
        <p>
          <a class="fa-icon fa-icon-2x" href="https://www.facebook.com/mercy.isaac.927/" title="">
            <i class="fa fa-facebook"></i>
          </a>
          <a class="fa-icon fa-icon-2x" href="https://twitter.com/Isaac3571" title="">
            <i class="fa fa-twitter"></i>
          </a>
          <a class="fa-icon fa-icon-2x" href="https://www.linkedin.com/in/mercy-isaac-80953b188/" title="">
            <i class="fa fa-linkedin"></i>
          </a>
        </p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     scrollRevelation('.card');
  });
</script>


<script type="text/javascript" src="./static/main.bc58148c.js"></script>
</main>
</body>

</html>